.main{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .input_wrapper{
    position: relative;
    &> input{
      padding-left: 50px;
    }

    &> img{
      position: absolute;
      left: 20px;
      top: 40%
    }
    .search{
      color: var(--text-color-lihgt);
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
    }
  }
}
.cards_wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

